.main {
  height: 100%;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 50px;
  font-size: 30px;
}

button {
  margin-left: 10px;
  width: 60px;
  height: 35px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  background-color: rgb(255, 110, 110);
}

button:hover {
  background-color: rgb(255, 70, 70);
}

button:active {
  background-color: rgb(255, 0, 0);
}