.tagButtons-container {
  margin-top: 20px;
  margin-left: 40px;
}

.tagButtons {
  margin: 10px;

  width: 80px;
  height: 40px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  background-color: rgb(255, 110, 110);
}

.tagButtons:hover {
  background-color: rgb(255, 70, 70);
}

.tagButtons:active {
  background-color: rgb(255, 0, 0);
}